img.icon-qrcode-petit {
  vertical-align: middle;
  cursor: pointer;
}

code.faircoin-address-qrcode-text {
  font-family: Courier, monospace;
  font-size: 12px;
}

div.faircoin-address-qrcode-wrapper {
  position: relative;
}

div.faircoin-address-qrcode-image {
  position: absolute;
  z-index: -999;
  background-color: #fff;
  padding: 10px 10px 5px 10px;
  display: inline-block;
  border: 1px solid #999;
  border-radius: 4px;
  box-shadow: 2px 2px 5px #888888;
  left: 20px;
}
